<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokedex</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/home.css' %}">
        {% comment %} <link rel="stylesheet" href="styles/home.css"> {% endcomment %}
    </head>
    <body>
        <div class="logo">Welcome to the Pokedex</div>
        <button class="button" onclick="redirectToPokemons()">Go to Pokemons</button>
        <script>
            function redirectToPokemons() {
                window.location.href = "/api/pokemons";
            }
        </script>
    </body>
</html>