<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pokedex</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/pokedex.css' %}" />
  </head>
  <body>
    <h1 class="title">Pokédex</h1>
    <ul>
      {% for pokemon in pokemons %}
      <li class="pokemon-item list-item">
        <a
          href="/api/pokemons/{{ forloop.counter|add:current_offset}}"
          class="pokemon-link"
          >{{ pokemon.name }}</a
        >
      </li>
      {% endfor %}
    </ul>

    <div class="pagination">
      <a
        class="pagination-link previous-link"
        href="?offset={{ previous_offset }}&limit=20"
        {%
        if
        not
        previous_offset
        %}style="display:none;"
        {%
        endif
        %}
        >Previous</a
      >
      <a
        class="pagination-link next-link"
        href="?offset={{ next_offset }}&limit=20"
        {%
        if
        not
        next_offset
        %}style="display:none;"
        {%
        endif
        %}
        >Next</a
      >
    </div>
  </body>
</html>
